<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huonilaifu.upload.dao.CompanyMemberMapper" >
  <resultMap id="BaseResultMap" type="com.huonilaifu.upload.model.CompanyMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member" property="member" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="plat_account" property="platAccount" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="shiro" property="shiro" jdbcType="VARCHAR" />
    <result column="is_incumbency" property="isIncumbency" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member, pinyin, phone, create_time, plat_account, identity, shiro, is_incumbency
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huonilaifu.upload.model.CompanyMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huonilaifu.upload.model.CompanyMemberExample" >
    delete from company_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huonilaifu.upload.model.CompanyMember" >
    insert into company_member (id, member, pinyin, 
      phone, create_time, plat_account, 
      identity, shiro, is_incumbency
      )
    values (#{id,jdbcType=INTEGER}, #{member,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{platAccount,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{shiro,jdbcType=VARCHAR}, #{isIncumbency,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huonilaifu.upload.model.CompanyMember" >
    insert into company_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="platAccount != null" >
        plat_account,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="shiro != null" >
        shiro,
      </if>
      <if test="isIncumbency != null" >
        is_incumbency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="member != null" >
        #{member,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="platAccount != null" >
        #{platAccount,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="shiro != null" >
        #{shiro,jdbcType=VARCHAR},
      </if>
      <if test="isIncumbency != null" >
        #{isIncumbency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huonilaifu.upload.model.CompanyMemberExample" resultType="java.lang.Integer" >
    select count(*) from company_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_member
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.member != null" >
        member = #{record.member,jdbcType=VARCHAR},
      </if>
      <if test="record.pinyin != null" >
        pinyin = #{record.pinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.platAccount != null" >
        plat_account = #{record.platAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.identity != null" >
        identity = #{record.identity,jdbcType=VARCHAR},
      </if>
      <if test="record.shiro != null" >
        shiro = #{record.shiro,jdbcType=VARCHAR},
      </if>
      <if test="record.isIncumbency != null" >
        is_incumbency = #{record.isIncumbency,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_member
    set id = #{record.id,jdbcType=INTEGER},
      member = #{record.member,jdbcType=VARCHAR},
      pinyin = #{record.pinyin,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      plat_account = #{record.platAccount,jdbcType=VARCHAR},
      identity = #{record.identity,jdbcType=VARCHAR},
      shiro = #{record.shiro,jdbcType=VARCHAR},
      is_incumbency = #{record.isIncumbency,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huonilaifu.upload.model.CompanyMember" >
    update company_member
    <set >
      <if test="member != null" >
        member = #{member,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="platAccount != null" >
        plat_account = #{platAccount,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="shiro != null" >
        shiro = #{shiro,jdbcType=VARCHAR},
      </if>
      <if test="isIncumbency != null" >
        is_incumbency = #{isIncumbency,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huonilaifu.upload.model.CompanyMember" >
    update company_member
    set member = #{member,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      plat_account = #{platAccount,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      shiro = #{shiro,jdbcType=VARCHAR},
      is_incumbency = #{isIncumbency,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="truncateTable">
    truncate  table company_member
  </update>
</mapper>